<h1>Create your knight!</h1>
<form action="/knights" method="post">
  <label for="new-name">Knight's "Sir" Name</label>
  <input type="text" name="new-name" id="new-knight">
  <label for="new-hut">Where does this Knight make it's dwelling? Preferably a hut.</label>
  <input type="text" name="new-hut" id="new-knight">
  <label for="new-weapon">Knight's Weapon to fight those who say "It!"</label>
  <input type="text" name="new-weapon" id="new-knight">
  <button type="submit">Add Knight!</button>
</form>
